.c-aside{
    width:$aside-width;
    background:$cyan;
    height:100vh;
    position: fixed;
    z-index: 10;
    text-align:center;
    
    &__container{
        padding:40px;
        color: $white;

        @media(max-width:$responsive-break-point){
            padding:20px;
        }

     
    }

    @media(max-width:$responsive-break-point){
        width:100%;
        position:initial;
        height:auto;
        width:100%;
    }
}

