
.o-master-wrapper{
    position:absolute;
    top:0;
    width:calc(100% - 300px);
    z-index:0;

    @media(max-width:$responsive-break-point){
        width:100%;
    }
}

.o-general{
    width:100%;
    position:absolute;
    left:300px;
    //margin-left:$aside-width;
    // reseting position due to aside moving to top
    @media(max-width:$responsive-break-point){
        left:0;
    }
}

.o-section{
    @include vh-to-auto;
    border-bottom: 5px solid $black;
    overflow:hidden;
    

    &--bg{
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}