.c-btn{

    &--back{
        position: fixed;
        bottom:10px;
        right:10px;
        display:none;
        background:$cyan;
        border:0;
        width:50px;
        height:50px;
        transition: opacity 0.5s ease;

        @include Opacity(0.25);
    
        &[data-back=true]{
            display:initial;
        }
    }

    &:hover{
        cursor:pointer;
        @include Opacity(1);
    }
}