//  ============================================================================================================
//  Setting up the div's that will animate on page load
//  ============================================================================================================

.c-intro {
    position:fixed;
    height:100vh;
    width:100%;
    z-index: 50;
    color:$white;

    // setting one gradient to 51% otherwise there is a small gap in between
    &__container{
        background-image: linear-gradient(to right top, $cyan 0%, $cyan 51%, transparent 50%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 15;

        &--flipped{
            background-image: linear-gradient(to left bottom, $cyan 0%, $cyan 50%, transparent 50%);
        }
   }

   &__logo-container{
       position:absolute;
       z-index: 20;
       width:100%;
       text-align: center;

   }
}