.c-social{
    display:block;
    width:100%;

    &__list{
        list-style: none;
        text-align: center;

        @media(max-width: $responsive-break-point){
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }

        li{
            & + li{
                margin-top:40px;

                @media(max-width: $responsive-break-point){
                    margin-top:0;
                    display:flex;
                    justify-content: center;
                    align-content: center;
                }
            }

            a{
                display:inline-block;

                img{
                    display:block;
                }
            }

            @media(max-width: $responsive-break-point){
                vertical-align: middle;
                margin:0 10px;
            }
        }
    }

    &__img{
        @include Opacity(0.6);
        transition: opacity 0.5s ease;

        // defaults
        width:50px;
        height:50px;
        vertical-align: middle;

        // Fixes the squashing on mobile
        @media(max-width: $responsive-break-point){
           
            height:auto;

            display:flex;
         
        }

        &:hover{
            @include Opacity(1);
        }

        &--ebay{
            height:75px;
            width:75px;

            @media(max-width: $responsive-break-point){
                margin-top:-15px; // The svg has whitespace so we need a new one
             }
        }

        &--youtube{
            width:100px;

            // Fixing youtube looking squashed on mobile
            @media(max-width: $responsive-break-point){
               height:30px;
            }
          
        }
    }
}