.c-text{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    align-items: center;
    justify-content: center;
    color:$white;
    height:100%;
    background:rgba(0, 0 ,0 , 0.8);

    @media(max-width:$responsive-break-point){
      
    }

    &__container{
        max-width:800px;
        display:block;
        margin:0px auto;
        padding:0 20px;
    }

    &__header{
        text-align:center;
    }
}