.c-video{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
    background:$black;
    
    &__vid{
        width:100%;
        object-fit: fill;

        @include vh-to-auto;
    }

    &__controls{
        position:absolute;
        bottom:10px;
        right:10px;
        z-index:15
    }

    &__volume{
        img{
            transition: opacity 0.5s ease;
            opacity:0.25;   
            
            @include Opacity(0.25);

            &:hover{
                @include Opacity(1);
            }
        }
    }

    &__overlay{
        position:absolute;   
        z-index: 2;
        background:rgba(0, 0, 0, 0.85);
        width:100%;
        left:0;
        @include vh-to-auto;

        // reseting position due to aside moving to top
        @media(max-width:$responsive-break-point){
            margin-left:0;
            display:flex;
            height:100%;
        }
    }

    &__content-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height:100%;
        width:100%;
    }

    &__content{
        width:80%;
        color:$white;
        text-align:center;
        @media(max-width:$responsive-break-point){
            width:100%;
            padding:0 20px;
        }
    }
}
