@mixin Opacity($value){
    $IEValue: $value*100;
    opacity: $value;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin vh-to-auto{
    height:100vh;

    @media(max-width:$responsive-break-point){
      height:auto;
    }
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}