//  ============================================================================================================
//  Main variables used accross the oioi website
//  ============================================================================================================

$cyan:#00b2b2;
$white:#fff;
$black:#000;

$responsive-break-point:900px;
$browser-context: 16; 
$aside-width:300px;
