html,body{
    margin:0;
    padding:0;
    height:100%;
    position:relative;
    font-size:1em;

    @media(max-width:$responsive-break-point){
        font-size:0.90em;
    }
}

img{
    max-width:100%;
    height:auto;
}

ul{
    margin:0;
    padding:0;
}