@font-face {
	font-family: "print-clearly";
	src: url("../fonts/PRINC.TTF");
}

body{
	font-family:"print-clearly", arial;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
}

h1{
	font-size:em(60);
	margin:em(5) 0;
}

h2{
	font-size:em(40);
}

p{
	font-size:em(30);
} 